
	{% set prev = null %}
	{% set prev_id = null %}
	{% for row in comments %}
		<li
			class="netliva-comments-line
					{{ row.author and app.user.id == row.author.id ? "netliva-my-comment" }}
					{{ (row.author and prev == row.author.id) ? "netliva-continues-comment" }}
					{{ row.answerTo ? "netliva-answer-comment-line" }}
					{{ row.reactions ? "netliva-comment-with-reactions" }}
					{{ row.answerTo and row.answerTo.id == prev_id ? "netliva-answer-to-prev" }}
				  "
			data-id="{{row.id}}"
			data-comment="{{row.comment}}"
			data-comment-id="{{row.id}}"
			data-delete-url="{{path("netliva_symfony_comments_delete",{id:row.id})}}"
			data-update-url="{{path("netliva_symfony_comments_update",{id:row.id, viewtype:"default" })}}"
			data-history-url="{{path("netliva_symfony_comments_history",{id:row.id })}}"
		>
			{% set prev = row.author ? row.author.id : null %}
			{% set prev_id = row.id %}
			<div class="netliva-a-comment">
				{% if row.author and  app.user.id == row.author.id %}
					<div class="text-left dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
						<div class="dropdown-menu">
							<a class="dropdown-item netliva-comment-edit-btn" href="#">Düzenle</a>
							<a class="dropdown-item netliva-comment-delete-btn" href="#">Sil</a>
						</div>
					</div>
				{% endif %}
				<div class="nc-bubble">
					<strong class="ntlv_user_name">{{row.author ? row.author.name : (row.authorStr ? row.authorStr : 'Bilinmiyor') }}</strong>
					{% if row.answerTo %}
						<span class="netliva-answer-comment">
							<strong class="ntlv_user_name">{{row.answerTo.author ? row.answerTo.author.name : (row.answerTo.authorStr ? row.answerTo.authorStr : 'Bilinmiyor') }}</strong>
							{{ row.answerTo.comment|nl2br }}
							<small>
								<em>{{ row.answerTo.addAt|date("d.m.Y - H:i") }}</em>
							</small>
						</span>
					{% endif %}
					{{ row.comment|nl2br }}
					<small>
						{% if row.history is iterable and row.history|length %}
							<span class="px-1 netliva-comment-history"><i class="fa fa-history"></i></span>
						{% endif %}
						<em {{ (row.editAt ? 'title="Düzenlenme: '~row.editAt|date("d.m.Y_H:i")~'"')|raw}}>
							{{ row.addAt|date("d.m.Y - H:i") }}
							{{ row.editor and (not row.author or row.editor.id != row.author.id) ? " ("~row.editor.name~" düzenledi)":"" }}
						</em>
					</small>
					{% if options.reactions %}
						{{ reaction_button(row) }}
					{% endif %}
				</div>
			</div>
		</li>
	{% endfor %}
